<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        Start
      </ion-button>
    </ion-buttons>
  
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>


      
    <ion-content>

      <ion-list *ngFor="let item of characteres">
        <ion-avatar>
          <ion-img src="{{item.imageUrl}}"></ion-img>
        </ion-avatar>
       
       
        <ion-list-header>
        <ion-label>{{item.fullName}}</ion-label>
      </ion-list-header>
    
      <ion-item-sliding>

        <ion-item-options side="start">
          <ion-item-option color="success">
            <ion-icon slot="icon-only" name="archive"></ion-icon>
          </ion-item-option>
        </ion-item-options>        
      
     





        <ion-item>
      {{item.id}}<br><br>
      {{item.family}}<br><br>
      {{item.firstName}}<br>
      {{item.lastName}}<br><br>
      <ion-thumbnail sloat="start">
    
      <br>{{item.title}}
      </ion-thumbnail>
    </ion-item>


  </ion-item-sliding>
      </ion-list>
    
    
</ion-content>
