<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        Start
      </ion-button>
    </ion-buttons>
  
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>


      
    <ion-content>

      <ion-list *ngFor="let item of continents">
        <ion-list-header>
          <ion-label>{{item.id}}</ion-label>
        </ion-list-header>
       
        <ion-list-header>
        <ion-label>{{item.name}}</ion-label>
      </ion-list-header>
    
      </ion-list>
    </ion-content>